@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Shrikhand&display=swap");
@keyframes loader_background {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader {
  0% {
    letter-spacing: 0;
    font-size: 0;
  }
  80% {
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    transform: rotate(720deg);
  }
  100% {
    transform: scale(0);
    transform: rotate(0);
    font-size: 0;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  list-style-type: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 268px;
}

img {
  object-fit: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

input::placeholder {
  color: #4a4a4a;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  input::placeholder {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  input::placeholder {
    font-size: 30px;
  }
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

.btn {
  width: 100%;
  height: auto;
  text-align: center;
}
.btn__element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 112%;
  font-weight: normal;
  height: 56px;
  color: #fafafa;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  background-color: #FF79DA;
  margin: auto;
  padding: 0 23px 0 31px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn__element {
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 25px 0 25px;
  }
}
@media screen and (min-width: 992px) {
  .btn__element {
    font-size: 27px;
    font-weight: bolder;
    height: 80px;
    padding: 0 30px 0 30px;
  }
}
.btn__element:hover {
  transform: scale(1.1);
  opacity: 0.7;
  transition: transform linear 0.3s;
  box-shadow: 0px 2px 3px black;
}

.menu__btn__element {
  width: 206px;
  padding: 0 25px 0 28px;
}
@media screen and (min-width: 992px) {
  .menu__btn__element {
    padding: 0 80px 0 80px;
    height: 60px;
    font-size: 22px;
  }
}
.menu__btn__element:hover {
  transform: scale(1.1);
  opacity: 0.7;
  transition: transform linear 0.3s;
  box-shadow: 0px 2px 3px black;
}

.header {
  margin-bottom: 47px;
}
.header__logo, .header__menu__logo {
  width: 100%;
  height: auto;
  padding: 23px 0 15px 0;
  text-align: center;
  box-shadow: 0px 2px 8px #848484;
}
.header__logo__img, .header__menu__logo img {
  height: 31px;
}
@media screen and (min-width: 768px) {
  .header__logo__img, .header__menu__logo img {
    height: 45px;
  }
}
@media screen and (min-width: 992px) {
  .header__logo__img, .header__menu__logo img {
    height: 60px;
  }
}
.header__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 67px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .header__search {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .header__search {
    padding-bottom: 60px;
  }
}
.header__search p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #EAEAEA;
}
.header__search h1 {
  width: 78%;
  height: auto;
  font-size: 27px;
  font-weight: bolder;
  text-align: center;
  margin: 0px auto -3px 37px;
}
@media screen and (min-width: 768px) {
  .header__search h1 {
    font-size: 35px;
    margin: 0px auto -3px auto;
  }
}
.header__search h2 {
  width: 102%;
  height: auto;
  padding-top: 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 15px auto 33px auto;
}
@media screen and (min-width: 768px) {
  .header__search h2 {
    font-size: 25px;
  }
}
.header__search__area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #EAEAEA;
  margin-bottom: 43px;
}
.header__search__area__icon {
  font-size: 19px;
  margin-left: -10px;
}
@media screen and (min-width: 768px) {
  .header__search__area__icon {
    font-size: 25px;
    margin-left: 90px;
  }
}
.header__search__area__input {
  width: 160px;
  height: 50px;
  padding-left: 17px;
  background-color: #EAEAEA;
  border: none;
  color: #4a4a4a;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .header__search__area__input {
    font-size: 20px;
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .header__search__area__input {
    font-size: 30px;
    width: 350px;
  }
}
.header__menu, .header__menu--palette {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1500px;
  margin: 0 auto 0 auto;
  height: 70px;
}
.header__menu__logo {
  padding: 0;
}
.header__menu__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
@media screen and (min-width: 992px) {
  .header__menu__logo img {
    height: 50px;
  }
}
.header__menu__arrow {
  position: absolute;
  left: 6%;
  top: 24px;
  font-size: 23px;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .header__menu__arrow {
    font-size: 30px;
  }
}

.header__menu--palette {
  margin-top: 12px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 7% 22px 7%;
  background-color: #313131;
}
@media screen and (min-width: 992px) {
  .footer__nav {
    justify-content: center;
    align-items: center;
  }
}
.footer__nav ul {
  margin: 0;
  padding: 0;
}
.footer__nav__title {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Shrikhand";
  color: #fafafa;
  margin: 0;
  padding: 24px 0 20px 0;
}
@media screen and (min-width: 992px) {
  .footer__nav__title {
    font-size: 2.3rem;
  }
}
.footer li {
  margin-bottom: 7px;
}
.footer li:first-child::before {
  font-family: FontAwesome;
  color: #fafafa;
  font-size: 13px;
  content: "\f2e7";
  margin-right: 10px;
}
.footer li:nth-child(2)::before {
  font-family: FontAwesome;
  color: #fafafa;
  font-size: 13px;
  content: "\f4c4";
  margin-right: 4px;
}
.footer a {
  color: #fafafa;
  margin-bottom: 0;
  padding: 5px 0 10px 0;
  font-size: 17.5px;
}
.footer a:hover {
  color: #99E2D0;
}

.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 101;
}

.loader__container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  animation: loader_background 0.1s 3s forwards;
  z-index: 100;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  opacity: 0.8;
  border: 10px solid #9356DC;
  background-color: #ffdff6;
  margin: auto;
  animation: scale-up-center 3s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 102;
  width: 17rem;
  height: 17rem;
  border-radius: 8.5rem;
}
@media screen and (min-width: 768px) {
  .loader {
    width: 25rem;
    height: 25rem;
    border-radius: 12.5rem;
  }
}
@media screen and (min-width: 992px) {
  .loader {
    width: 35rem;
    height: 35rem;
    border-radius: 17.5rem;
  }
}

.loader p {
  background: linear-gradient(to right, #9356DC, #FF79DA);
  font-family: "shrikhand", sans-serif;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: loader forwards 3s;
  z-index: 103;
}

.functioning {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .functioning {
    margin-bottom: 0px;
  }
}
.functioning__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: auto;
  counter-reset: listCounter;
}
@media screen and (min-width: 992px) {
  .functioning__column {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 95%;
  }
}
.functioning__title {
  width: 88%;
  margin: 0 auto 35px auto;
  font-size: 1.65rem;
}
@media screen and (min-width: 768px) {
  .functioning__title {
    font-size: 2.25rem;
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 992px) {
  .functioning__title {
    font-size: 2.813rem;
    margin-bottom: 70px;
    text-align: center;
  }
}

.functioning__column__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 78px;
  background-color: #F6F6F6;
  border-top: 2px solid #F6F6F6;
  border-right: 2px solid #F6F6F6;
  border-bottom: 2px solid #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 4px 15px lightgrey;
  margin: 0 0 31px 8px;
  position: relative;
  counter-increment: listCounter;
}
@media screen and (min-width: 992px) {
  .functioning__column__button {
    width: 30%;
  }
}
.functioning__column__button:hover {
  background-color: #f2eafb;
  border-top: 2px solid #f2eafb;
  border-right: 2px solid #f2eafb;
  border-bottom: 2px solid #f2eafb;
  transform: scale(1.02);
  transition: transform linear 0.5s;
}
.functioning__column__button:hover i {
  color: #9356DC;
}
.functioning__column__button__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: #fafafa;
  border: solid #9356DC 1px;
  border-radius: 50%;
  position: absolute;
  left: -11px;
}
.functioning__column__button__number::after {
  content: counter(listCounter, Roboto);
}
.functioning__column__button__icon, .functioning__column__button__icon3, .functioning__column__button__icon2 {
  font-size: 1.313rem;
  color: #848484;
  padding: 0px 31px 0 36px;
}
@media screen and (min-width: 992px) {
  .functioning__column__button__icon, .functioning__column__button__icon3, .functioning__column__button__icon2 {
    padding: 0px 20px 0 30px;
  }
}
.functioning__column__button__icon2 {
  padding-right: 26px;
  padding-left: 36px;
}
.functioning__column__button__icon3 {
  padding-right: 20px;
  padding-left: 39px;
}
.functioning__column__button__text {
  display: block;
  font-size: 110%;
  font-weight: bold;
  width: 108%;
}
@media screen and (min-width: 992px) {
  .functioning__column__button__text {
    font-size: 1.5rem;
  }
}

/*-----------------------------------------------------------------------------------------------*/
/*      Main : restaurant                                                                        */
/*-----------------------------------------------------------------------------------------------*/
.restaurant {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 48px;
  margin: auto;
}
.restaurant__title {
  width: 88%;
  font-size: 1.65rem;
  margin: 55px auto 25px auto;
}
@media screen and (min-width: 768px) {
  .restaurant__title {
    font-size: 2.25rem;
    margin-bottom: 55px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__title {
    font-size: 2.813rem;
    margin-bottom: 70px;
    text-align: center;
  }
}
.restaurant__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 450px;
  margin-bottom: 52px;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .restaurant__column {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
  }
}

.restaurant__column__card {
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurant__column__card {
    width: 46%;
  }
}
.restaurant__column__card figure {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 18px;
  margin: 0px auto 26px auto;
  box-shadow: 1px 2px 20px #d2d2d2;
}
@media screen and (min-width: 768px) {
  .restaurant__column__card figure {
    margin-bottom: 70px;
  }
}
.restaurant__column__card figure:hover {
  box-shadow: 2px 8px 18px #848484;
  transform: scale(1.05);
  transition: ease 0.5s;
}
.restaurant__column__card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 33px;
  background-color: #99E2D0;
  position: absolute;
  top: 12px;
  right: 15px;
  color: #848484;
  border-radius: 4px;
  z-index: 999;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .restaurant__column__card__new {
    width: 115px;
    height: 40px;
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__column__card__new {
    width: 130px;
    height: 50px;
    font-size: 22px;
  }
}
.restaurant__column__card__text {
  padding: 13px 13px;
  margin: 0 0 1px 2px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurant__column__card__text {
    padding: 20px 20px;
  }
}
.restaurant__column__card__text span::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 400;
  font-size: 1.6rem;
  position: absolute;
  top: 19px;
  right: 28px;
}
.restaurant__column__card__text span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 600;
  font-size: 1.6rem;
  position: absolute;
  top: 19px;
  right: 28px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
}
.restaurant__column__card__text span:hover::after {
  transform: scale(1);
  transition: all ease 0.8s;
}
.restaurant__column__card__text h4 {
  display: flex;
  justify-content: space-between;
  font-size: 19.8px;
  margin: 0 0 4px 0;
}
.restaurant__column__card__text p {
  font-size: 18.9px;
  margin: 0;
  text-align: left;
}
.restaurant__column__card__image {
  position: relative;
}
.restaurant__column__card__image_img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: bottom;
}
@media screen and (min-width: 768px) {
  .restaurant__column__card__image_img {
    height: 210px;
  }
}
.restaurant__column__card__image_img2 {
  object-position: 100% 61%;
}

.menu__img {
  width: 100%;
  height: 304px;
}
@media screen and (min-width: 992px) {
  .menu__img {
    height: 485px;
  }
}
.menu__block, .menu__block--note, .menu__block--palette, .menu__block--delice {
  background-color: #F6F6F6;
  border-radius: 45px 45px 0 0;
  position: relative;
  margin: -65px auto 0 auto;
  width: 100%;
  padding: 11px 3% 90px 3%;
}
@media screen and (min-width: 768px) {
  .menu__block, .menu__block--note, .menu__block--palette, .menu__block--delice {
    padding: 11px 15% 95px 15%;
  }
}
@media screen and (min-width: 992px) {
  .menu__block, .menu__block--note, .menu__block--palette, .menu__block--delice {
    width: 90%;
    padding: 11px 15px 95px 15px;
  }
}
.menu__block__column, .menu__block__column--palette, .menu__block__column--note, .menu__block__column--delice {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
@media screen and (min-width: 992px) {
  .menu__block__column, .menu__block__column--palette, .menu__block__column--note, .menu__block__column--delice {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}
.menu__block__details, .menu__block__desserts--palette, .menu__block__desserts--delice, .menu__block__desserts--note, .menu__block__dishes--delice, .menu__block__details--palette, .menu__block__details--note, .menu__block__details--delice, .menu__block__dishes, .menu__block__dishes--palette, .menu__block__dishes--note {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: auto;
  width: 100%;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .menu__block__details, .menu__block__desserts--palette, .menu__block__desserts--delice, .menu__block__desserts--note, .menu__block__dishes--delice, .menu__block__details--palette, .menu__block__details--note, .menu__block__details--delice, .menu__block__dishes, .menu__block__dishes--palette, .menu__block__dishes--note {
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .menu__block__details, .menu__block__desserts--palette, .menu__block__desserts--delice, .menu__block__desserts--note, .menu__block__dishes--delice, .menu__block__details--palette, .menu__block__details--note, .menu__block__details--delice, .menu__block__dishes, .menu__block__dishes--palette, .menu__block__dishes--note {
    padding-bottom: 35px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 31%;
    height: 600px;
    margin-top: 0;
  }
}
.menu__block__dishes, .menu__block__dishes--palette, .menu__block__dishes--note {
  margin-bottom: 21px;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes, .menu__block__dishes--palette, .menu__block__dishes--note {
    padding-bottom: 35px;
    width: 31%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.menu__block__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .menu__block__title {
    justify-content: center;
  }
}
.menu__block__title span::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 400;
  font-size: 1.6rem;
  position: absolute;
  top: 42px;
  right: 42px;
}
.menu__block__title span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 600;
  font-size: 1.6rem;
  position: absolute;
  top: 42px;
  right: 42px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
}
.menu__block__title span:hover::after {
  transform: scale(1);
  transition: all ease 0.8s;
}
.menu__block__title__element, .menu__block__title__element--delice, .menu__block__title__element--palette, .menu__block__title__element--note {
  font-family: "Shrikhand";
  font-size: 1.9rem;
  margin: 23px 26px 15px 12px;
  position: relative;
  max-width: 75%;
}
@media screen and (min-width: 992px) {
  .menu__block__title__element, .menu__block__title__element--delice, .menu__block__title__element--palette, .menu__block__title__element--note {
    font-size: 2.219rem;
    margin-bottom: 31px;
    margin-top: 15px;
    text-align: center;
  }
}
.menu__block__title__element--note {
  margin-top: 22px;
}
.menu__block__title__element--palette {
  margin-bottom: 15px;
}

.menu__block--delice {
  margin-top: -65px;
  padding-bottom: 73px;
}

.menu__block--palette {
  margin-top: -65px;
  padding-bottom: 63px;
}

.menu__block--note {
  margin-top: -65px;
  padding-bottom: 80px;
}

.menu__block__title__element--delice {
  font-size: 1.9rem;
  margin-bottom: 17px;
}

.menu__block__column--delice {
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .menu__block__column--delice {
    margin-bottom: 50px;
  }
}

.menu__block__column--note {
  margin-bottom: 26px;
}
@media screen and (min-width: 992px) {
  .menu__block__column--note {
    margin-bottom: 50px;
  }
}

.menu__block__column--palette {
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .menu__block__column--palette {
    margin-bottom: 50px;
  }
}

.menu__block__details--delice {
  margin-bottom: 5px;
}

.menu__block__details--note {
  margin-bottom: 20px;
}

.menu__block__details--palette {
  margin-bottom: 9px;
}

.menu__block__dishes--note {
  margin-bottom: 15px;
}

.menu__block__dishes--palette {
  margin-bottom: 18px;
}

.menu__block__dishes--delice {
  margin-bottom: 12px;
}

.menu__block__desserts--note {
  margin-bottom: 14px;
}

.menu__block__desserts--delice {
  margin-bottom: 17px;
}

.menu__block__desserts--palette {
  margin-bottom: 5px;
}

.menu__block__details__title, .menu__block__desserts__title--autres, .menu__block__desserts__title, .menu__block__dishes__title--delice, .menu__block__details__title--note, .menu__block__details__title--delice {
  display: flex;
  flex-direction: column;
  font-size: 17.5px;
  margin-left: 9px;
  margin-bottom: 10px;
  padding: 0px 0 5px 0;
}
@media screen and (min-width: 992px) {
  .menu__block__details__title, .menu__block__desserts__title--autres, .menu__block__desserts__title, .menu__block__dishes__title--delice, .menu__block__details__title--note, .menu__block__details__title--delice {
    font-size: 21.5px;
    height: 50px;
    margin-left: 0;
    margin-bottom: 33px;
  }
}
.menu__block__details__title::after, .menu__block__desserts__title--autres::after, .menu__block__desserts__title::after, .menu__block__dishes__title--delice::after, .menu__block__details__title--note::after, .menu__block__details__title--delice::after {
  content: "";
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 4px;
  width: 44px;
}

.menu__block__details__title--delice {
  margin-bottom: 8px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__title--delice {
    margin-bottom: 33px;
  }
}

.menu__block__details__title--note {
  margin-bottom: 9px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__title--note {
    margin-bottom: 33px;
  }
}

.menu__block__dishes__title--delice {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes__title--delice {
    margin-bottom: 33px;
  }
}

.menu__block__desserts__title {
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__title {
    margin-bottom: 33px;
  }
}

.menu__block__desserts__title--autres {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__title--autres {
    margin-bottom: 33px;
  }
}

.menu__block__details__card, .menu__block__desserts__card--palette32, .menu__block__desserts__card--palette, .menu__block__desserts__card--note32, .menu__block__desserts__card--delice32, .menu__block__desserts__card--delice, .menu__block__dishes__card--palette, .menu__block__dishes__card--delice, .menu__block__dishes__card, .menu__block__details__card--palette, .menu__block__details__card--note, .menu__block__details__card--delice, .menu__block__details__card__d3, .menu__block__details__card__d2, .menu__block__details__card__d1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px lightgrey;
  overflow: hidden;
  padding: 0 0 0 14px;
  animation: menu both 0.6s;
  margin-bottom: 11px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card, .menu__block__desserts__card--palette32, .menu__block__desserts__card--palette, .menu__block__desserts__card--note32, .menu__block__desserts__card--delice32, .menu__block__desserts__card--delice, .menu__block__dishes__card--palette, .menu__block__dishes__card--delice, .menu__block__dishes__card, .menu__block__details__card--palette, .menu__block__details__card--note, .menu__block__details__card--delice, .menu__block__details__card__d3, .menu__block__details__card__d2, .menu__block__details__card__d1 {
    margin-bottom: 35px;
  }
}
.menu__block__details__card__d1 {
  margin-bottom: 9px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__d1 {
    margin-bottom: 35px;
  }
}
.menu__block__details__card__d2 {
  margin-bottom: 14px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__d2 {
    margin-bottom: 35px;
  }
}
.menu__block__details__card__d3 {
  margin-bottom: 6px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__d3 {
    margin-bottom: 35px;
  }
}
.menu__block__details__card__titles {
  overflow: hidden;
  width: 85%;
  padding-top: 16px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__titles {
    font-size: 0.98rem;
  }
}
.menu__block__details__card__titles__title, .menu__block__dishes__card__titles__title, .menu__block__details__card__titles__title--delice, .menu__block__details__card__titles__title--note, .menu__block__details__card__titles__title--palette {
  margin: 0;
  font-size: 1.25rem;
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__titles__title, .menu__block__dishes__card__titles__title, .menu__block__details__card__titles__title--delice, .menu__block__details__card__titles__title--note, .menu__block__details__card__titles__title--palette {
    font-size: 0.98rem;
  }
}
.menu__block__details__card__titles__title--delice {
  overflow: initial;
  white-space: normal;
  text-overflow: ellipsis;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__titles__title--delice {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.menu__block__details__card__titles__subtitle, .menu__block__desserts__card__titles__subtitle, .menu__block__desserts__card__titles__subtitle--delice, .menu__block__dishes__card__titles__subtitle, .menu__block__details__card__titles__subtitle--note, .menu__block__details__card__titles__subtitle--palette {
  margin: 5px 0 14px 0;
  font-size: 1.03rem;
  width: 97%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__titles__subtitle, .menu__block__desserts__card__titles__subtitle, .menu__block__desserts__card__titles__subtitle--delice, .menu__block__dishes__card__titles__subtitle, .menu__block__details__card__titles__subtitle--note, .menu__block__details__card__titles__subtitle--palette {
    font-size: 0.95rem;
  }
}

.menu__block__details__card--delice {
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card--delice {
    margin-bottom: 35px;
  }
}

.menu__block__details__card--note {
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card--note {
    margin-bottom: 35px;
  }
}

.menu__block__details__card--palette {
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card--palette {
    margin-bottom: 35px;
  }
}

.menu__block__dishes__card {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes__card {
    margin-bottom: 35px;
  }
}

.menu__block__dishes__card--delice {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes__card--delice {
    margin-bottom: 35px;
  }
}

.menu__block__dishes__card--palette {
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes__card--palette {
    margin-bottom: 35px;
  }
}

.menu__block__desserts__card--delice {
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__card--delice {
    margin-bottom: 35px;
  }
}

.menu__block__desserts__card--delice32 {
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__card--delice32 {
    margin-bottom: 35px;
  }
}

.menu__block__desserts__card--note32 {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__card--note32 {
    margin-bottom: 35px;
  }
}

.menu__block__desserts__card--palette {
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__card--palette {
    margin-bottom: 35px;
  }
}

.menu__block__desserts__card--palette32 {
  margin-bottom: 17px;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__card--palette32 {
    margin-bottom: 35px;
  }
}

.menu__block__details__card__titles--note {
  overflow: hidden;
  width: 86%;
  padding-top: 16px;
}

.menu__block__details__card__titles--palette {
  overflow: hidden;
  width: 82%;
  padding-top: 16px;
}

.menu__block__details__card__titles__title--palette {
  font-size: 1.23rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__block__details__card__titles__title--note {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 91%;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes__card__titles__title, .menu__block__details__card__titles__title--delice {
    margin: 0;
  }
}

.menu__block__details__card__titles__subtitle--palette {
  font-size: 1.03rem;
}

.menu__block__details__card__titles__subtitle--note {
  font-size: 1.03rem;
}

.menu__block__dishes__card__titles__subtitle {
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .menu__block__dishes__card__titles__subtitle {
    margin-bottom: 14px;
  }
}

.menu__block__desserts__card__titles__subtitle, .menu__block__desserts__card__titles__subtitle--delice {
  font-size: 1.13em;
  width: 80%;
}
@media screen and (min-width: 992px) {
  .menu__block__desserts__card__titles__subtitle, .menu__block__desserts__card__titles__subtitle--delice {
    font-size: 0.95rem;
  }
}

.menu__block__desserts__card__titles__subtitle--delice {
  font-size: 1rem;
}

.menu__block__details__card__price {
  margin-bottom: 13px;
  margin-right: 25px;
  margin-left: auto;
  font-size: 98%;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__price {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 92%;
  }
}

.menu__block__details__card__price--autres {
  margin-bottom: 14px;
  margin-right: 27px;
  margin-left: auto;
  font-size: 98%;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .menu__block__details__card__price--autres {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 92%;
  }
}

.card .menu__block__details__card_iconcheck {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #99E2D0;
  width: 5.1rem;
  margin-right: -5.1rem;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  transition: all 0.5s;
}

.card:hover .menu__block__details__card_iconcheck {
  margin-right: 0;
}

.menu__block__details__card_iconcheck .fa-circle-check {
  color: #ffffff;
  font-size: 1.4rem;
  transform: rotate(0turn);
  transition: transform 0.6s ease-in-out;
}

.card:hover .fa-circle-check {
  transform: rotate(1turn);
}

article .card:nth-child(2) {
  animation: menu 1s ease-out both 200ms;
  -webkit-animation: menu 1s ease-out both 200ms;
}

article .card:nth-child(3) {
  animation: menu 1s ease-out both 400ms;
  -webkit-animation: menu 1s ease-out both 400ms;
}

article .card:nth-child(4) {
  animation: menu 1s ease-out both 600ms;
  -webkit-animation: menu 1s ease-out both 600ms;
}

article .card:nth-child(5) {
  animation: menu 1s ease-out both 800ms;
  -webkit-animation: menu 1s ease-out both 800ms;
}

/*# sourceMappingURL=style.css.map */
