@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.menu
{
  &__img
  {
    height: 304px;
    width: 100%;
    @include m.desktop
    {
        height: 485px;
    }
  }
  &__block
  {
    background-color: #F6F6F6;
    border-radius: 45px 45px 0 0;
    position:relative;
    margin:-65px auto 0 auto;
    width: 100%;
    padding: 11px 3% 90px 3%;
    @include m.tablette
    {padding:11px 15% 95px 15%}
    @include m.desktop
    {
        width:90%;
        padding: 11px 15px 95px 15px;
    }
    &__column
    {
        display:flex;
        flex-direction: column;
        margin-bottom:33px;
        @include m.desktop
        {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 50px;
        }
    }
    &__details
    {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: auto;
        width: 100%;
        margin-bottom:14px;
        @include m.tablette
        {margin: auto;}
        @include m.desktop
        {
            padding-bottom: 35px;
            justify-content: flex-start;
            align-content: center;
            align-items:center;
            height:600px;
            width:32%;
            margin-top:0;
        }
    }
    &__dishes
    {
        @extend .menu__block__details;
        margin-bottom:21px;
        @include m.desktop
        {
            padding-bottom: 35px;
            width:32%;
            margin-top:0;
            margin-bottom:0;
        }
    }
    
    &__title
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.desktop
        {
            justify-content: center;
        }
        & span::before
        {
            font-family: "Font Awesome 5 Free";
            content: "\f004";
            font-weight: 400;
            font-size: 1.6rem;
            position: absolute;
            right: 42px;
            top: 42px;
        }
        & span::after
        {
            font-family: "Font Awesome 5 Free";
            content: "\f004";
            font-weight: 600;
            font-size: 1.6rem;
            background: linear-gradient(#9356DC, #FF79DA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transform: scale(0);
            position: absolute;
            right: 42px;
            top:42px;
        }
        & span:hover::after 
        {
            transition: all ease 0.8s;
            transform: scale(1);
        }
        &__element
      {
        font-family: "Shrikhand";
        font-size: 193%;
        margin: 23px 26px 16px 12px;
        position: relative;
        max-width: 75%;
        @include m.desktop
        {
            font-size: 35.5px;
            margin-bottom: 31px;
            margin-top:15px;
            text-align:center;
        }
      }
      &__element--note
        {
        @extend .menu__block__title__element--delice;
        margin-top:25px;
        font-size:191%;
      }
    }
  }
}

.menu__block--delice
{
  @include m.menu__block-init(-65px,72px);
}



.menu__block--palette
{
  @include m.menu__block-init(-71px,65px);
}

.menu__block--note
{ 
  @include m.menu__block-init(-70px,80px);
}

  
.menu__block__title__element--delice
{
  @extend .menu__block__title__element;
  font-size:191%;
}

.menu__block__column--delice
{
  @include m.menu__block__column-init(23px);
}

.menu__block__column--note
{
  @include m.menu__block__column-init(25px);
}

.menu__block__column--palette
{
  @include m.menu__block__column-init(27px);
 }

.menu__block__details--delice
{
  @include m.menu__block__details-init(6px)
}

  .menu__block__details--note
{
  @include m.menu__block__details-init(15px)
}

.menu__block__details--palette
  {
    @include m.menu__block__details-init(9px)
  }
  .menu__block__desserts--note
{
  @include m.menu__block__details-init(16px)
} 


.menu__block__dishes--note
  {
    @include m.menu__block__dishes-init(19px)
  } 

.menu__block__dishes--palette
  {
    @include m.menu__block__dishes-init(15px)
  } 

.menu__block__dishes--delice
{
  @include m.menu__block__details-init(13px)
}

.menu__block__details__title
{
  display:flex;
  flex-direction: column;
  font-size: 17.5px;
  margin-left: 9px;
  margin-bottom: 7px;
  padding: 0px 0 5px 0;
  
  @include m.desktop
  {
    font-size: 21.5px;
    margin-left: 0;
    margin-bottom: 33px;
    height:50px;
  }
  &::after
  {
    content:"";
    border-bottom: 4px solid $color-tertiary;
    padding-bottom:4px;
    width: 44px;
  }
}



.menu__block__details__title--delice
{
  @include m.menu__block__details__title-init(15px);
}
.menu__block__dishes__title--note
{
  @include m.menu__block__details__title-init(8px); 
} 



.menu__block__desserts__title
{
  @include m.menu__block__details__title-init(11px); 
}

.menu__block__desserts__title--note
{
  @include m.menu__block__details__title-init(9px);
}

.menu__block__desserts__title--palette
{
  @include m.menu__block__details__title-init(10px);
}

.menu__block__details__card
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-top: 2px solid #F6F6F6;
  border-right: 2px solid #F6F6F6;
  border-bottom: 2px solid #F6F6F6;
  border-radius: 15px;
  box-shadow: 0px 4px 15px lightgrey;
  margin-bottom: 11px;
  padding:13px 13px 0 14px;
  @include m.desktop
  {
    margin-bottom: 35px;
  }
  &__d1
  {
    @extend .menu__block__details__card;
    margin-bottom:9px;
    @include m.desktop
    {
        margin-bottom: 35px;
    }
  }
  &__d2
  {
    @extend .menu__block__details__card;
    margin-bottom:14px;
    @include m.desktop
    {
        margin-bottom: 35px;
    }
  }
  &__d3
  {
    @extend .menu__block__details__card;
    margin-bottom:6px;
    @include m.desktop
    {
        margin-bottom: 35px;
    }
  }
  &__titles
  {
    width:85%;
    &__title
      {
        margin: 0;
        font-size:124%;
        @include m.title_format(hidden,nowrap,ellipsis);
        @include m.desktop
        {
           font-size:98%;
        }
      }
    &__title--pigeonneau
      {
        @extend .menu__block__details__card__titles__title;
        margin:-3px 0 4px 0;
        @include m.desktop
        {
          margin:0;
        }
      } 
    &__title--delice
      {
        @extend .menu__block__details__card__titles__title--pigeonneau;  
        @include m.title_format(initial,normal,ellipsis);
        @include m.desktop
        {
          @include m.title_format(hidden,nowrap,ellipsis);
        }
      } 

    &__subtitle
    {    
      margin: 5px 0 14px 0;
      font-size:103%;
      @include m.title_format(hidden,nowrap,ellipsis);
      @include m.desktop
      {
        font-size:95%;
      }
    }
    &__subtitle--pigeonneau
      {
        @extend .menu__block__details__card__titles__subtitle;
        margin-bottom:13px;
        @include m.desktop{
          margin-bottom:14px
        } 
      }   

}
}

.menu__block__details__card--delice
{
  @include m.menu__block__details__card-init(14px);
}

.menu__block__details__card--note
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__details__card--palette
{
  @include m.menu__block__details__card-init(9px);
}

.menu__block__dishes__card
{
  @include m.menu__block__details__card-init(18px);
}


.menu__block__dishes__card--delice
{
  @include m.menu__block__details__card-init(17px);
}

.menu__block__dishes__card--palette
{
  @include m.menu__block__details__card-init(14px);
}

.menu__block__desserts__card--delice
{
  @include m.menu__block__details__card-init(16px);
}

.menu__block__desserts__card--palette
{
  @include m.menu__block__details__card-init(9px);
}

.menu__block__details__card__titles__title--palette
{
  @extend .menu__block__details__card__titles__title;
  @include m.title_format(initial,nowrap,initial);
  @include m.desktop
  {
    @include m.title_format(hidden,nowrap,ellipsis);
  }
} 

.menu__block__desserts__card__titles__subtitle
{ 
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.13em;
  width:80%;
  @include m.desktop
  {
    font-size:95%;
    width:80%;
  } 
}

.menu__block__desserts__card__titles__subtitle--delice
{
  @extend .menu__block__desserts__card__titles__subtitle;
  font-size:100%;
} 


.menu__block__details__card__price
{
  @include  m.menu__block__details__card__price-init(11px);
}

.menu__block__details__card__price--palette
{
  @include  m.menu__block__details__card__price-init(17px);
}

