@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.menu
{
  &__img
  {
    @include m.width-height(100%,304px);
    @include m.desktop
    {
        height: 485px;
    }
  }
  &__block
  {
    background-color: $color-bk-functioning;
    border-radius: 45px 45px 0 0;
    position:relative;
    margin:-65px auto 0 auto;
    width: 100%;
    padding: 11px 3% 90px 3%;
    @include m.tablette
    {padding:11px 15% 95px 15%}
    @include m.desktop
    {
        width:90%;
        padding: 11px 15px 95px 15px;
    }
    &__column
    {
        display:flex;
        flex-direction: column;
        margin-bottom:36px;
        @include m.desktop
        {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 50px;
        }
    }
    &__details
    {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: auto;
        width: 100%;
        margin-bottom:14px;
        @include m.tablette
        {
          margin: auto;
        }
        @include m.desktop
        {
            padding-bottom: 35px;
            justify-content: flex-start;
            align-content: center;
            align-items:center;
            @include m.width-height(31%,600px);
            margin-top:0;
        }
    }
    &__dishes
    {
        @extend .menu__block__details;
        margin-bottom:21px;
        @include m.desktop
        {
            padding-bottom: 35px;
            width:31%;
            margin-top:0;
            margin-bottom:0;
        }
    }
    
    &__title
    {
        @include m.flex-justify-content-align-items(flex,space-between,center);
        @include m.desktop
        {
            justify-content: center;
        }
        & span::before
        {
            @include m.heart(400,42px,42px);
        }
        & span::after
        {
            @include m.heart(600,42px,42px);
            @include m.heart-after;  
        }
        & span:hover::after 
        {
          @include m.heart-hover;
        }
        &__element
      {
        font-family: $font-family-secondary;
        font-size: 1.9rem;
        margin: 23px 26px 15px 12px;
        position: relative;
        max-width: 75%;
        @include m.desktop
        {
            font-size: 35.5px;
            margin-bottom: 31px;
            margin-top:15px;
            text-align:center;
        }
      }
      &__element--note
        {
        @extend .menu__block__title__element;
        margin-top:25px;
        // font-size:1.9rem;
      }
      &__element--palette
      {
      @extend .menu__block__title__element;
      margin-bottom:20px;
      // font-size:1.9rem;
      }
    }
  }
}

.menu__block--delice
{
  @include m.menu__block-init(-65px,73px);
}

.menu__block--palette
{
  @include m.menu__block-init(-65px,63px);
}

.menu__block--note
{ 
  @include m.menu__block-init(-65px,80px);
}
  
.menu__block__title__element--delice
{
  @extend .menu__block__title__element;
  font-size:1.9rem;
  margin-bottom:20px;
}

.menu__block__column--delice
{
  @include m.menu__block__column-init(25px);
}

.menu__block__column--note
{
  @include m.menu__block__column-init(25px);
}

.menu__block__column--palette
{
  @include m.menu__block__column-init(30px);
 }

.menu__block__details--delice
{
  @include m.menu__block__details-init(7px)
}

  .menu__block__details--note
{
  @include m.menu__block__details-init(22px)
}

.menu__block__details--palette
  {
    @include m.menu__block__details-init(9px)
  }



.menu__block__dishes--note
  {
    @include m.menu__block__dishes-init(18px)
  } 

.menu__block__dishes--palette
  {
    @include m.menu__block__dishes-init(20px)
  } 

.menu__block__dishes--delice
{
  @include m.menu__block__details-init(16px)
}

.menu__block__desserts--note
{
  @include m.menu__block__details-init(19px)
}

.menu__block__desserts--delice
{
  @include m.menu__block__details-init(19px)
} 

.menu__block__details__title
{
  display:flex;
  flex-direction: column;
  font-size: 17.5px;
  margin-left: 9px;
  margin-bottom: 10px;
  padding: 0px 0 5px 0;
  
  @include m.desktop
  {
    font-size: 21.5px;
    height:50px;
    margin-left: 0;
    margin-bottom: 33px;
  }
  &::after
  {
    content:"";
    border-bottom: 4px solid $color-tertiary;
    padding-bottom:4px;
    width: 44px;
  }
}



.menu__block__details__title--delice
{
  @include m.menu__block__details__title-init(8px);
}

.menu__block__details__title--note
{
  @include m.menu__block__details__title-init(11px);
}
.menu__block__dishes__title--note
{
  @include m.menu__block__details__title-init(10px); 
} 

.menu__block__dishes__title--delice
{
  @include m.menu__block__details__title-init(12px); 
} 

.menu__block__desserts__title
{
  @include m.menu__block__details__title-init(13px); 
}

.menu__block__desserts__title--note
{
  @include m.menu__block__details__title-init(11px);
}

.menu__block__desserts__title--palette
{
  @include m.menu__block__details__title-init(10px);
}

.menu__block__desserts__title--delice
{
  @include m.menu__block__details__title-init(10px);
}


.menu__block__details__card
{
  @include m.flex-justify-content-align-items(flex,space-between,flex-end);
  @include m.width-height(100%,auto);
 background-color: $normal-white-color;
  border-radius: 15px;
  box-shadow: 0px 4px 15px $color-bk-functioning-shadow;
  overflow:hidden;
  padding:0 0 0 14px;
  animation: menu both 0.6s;
  @include m.margin-bottom-init(11px);
  &__d1
  {
    @extend .menu__block__details__card;
    @include m.margin-bottom-init(9px);
  }
  &__d2
  {
    @extend .menu__block__details__card;
    @include m.margin-bottom-init(14px);
  }
  &__d3
  {
    @extend .menu__block__details__card;
    @include m.margin-bottom-init(6px);
  }
  &__titles
  {
    @include m.menu__block__details__card__titles-init(85%);
    @include m.desktop
      {
        $width-card-titles:65%;
      }
   
    @include m.desktop
        {
           font-size:98%;
        }
    &__title
      {
        margin: 0;
        font-size:1.25rem;
        width:95%;
        @include m.title_format(hidden,nowrap,ellipsis);
        @include m.desktop
        {
           font-size:98%;
        }
      }

    &__title--delice
      {
        @extend .menu__block__dishes__card__titles__title;  
        @include m.title_format(initial,normal,ellipsis);
        @include m.desktop
        {
          @include m.title_format(hidden,nowrap,ellipsis);
        }
      } 

    &__subtitle
    {    
      margin: 5px 0 14px 0;
      font-size:1.03rem;
      width:97%;
      @include m.title_format(hidden,nowrap,ellipsis);
      @include m.desktop
      {
        font-size:95%;
      }
    } 

}
}

.menu__block__details__card--delice
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__details__card--note
{
  @include m.menu__block__details__card-init(13px);
}

.menu__block__details__card--palette
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__dishes__card
{
  @include m.menu__block__details__card-init(15px);
}


.menu__block__dishes__card--delice
{
  @include m.menu__block__details__card-init(15px);
}

.menu__block__dishes__card--palette
{
  @include m.menu__block__details__card-init(13px);
}

.menu__block__desserts__card--delice
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__desserts__card--delice32
{
  @include m.menu__block__details__card-init(16px);
}

.menu__block__desserts__card--note32
{
  @include m.menu__block__details__card-init(15px);
}


.menu__block__desserts__card--palette
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__desserts__card--palette32
{
  @include m.menu__block__details__card-init(17px);
}

.menu__block__details__card__titles--note
{
  @include m.menu__block__details__card__titles-init(86%); 
}

.menu__block__details__card__titles--palette
{
  @include m.menu__block__details__card__titles-init(80%); 
}

.menu__block__details__card__titles__title--palette
{
  @extend .menu__block__details__card__titles__title;
  font-size:1.23rem;
  @include m.title_format(initial,nowrap,initial);
  @include m.desktop
  {
    @include m.title_format(hidden,nowrap,ellipsis);
  }
}

.menu__block__details__card__titles__title--note
{
  @extend .menu__block__details__card__titles__title;
  @include m.title_format(hidden,nowrap,ellipsis);
  width:90%;
  @include m.desktop
  {
    @include m.title_format(hidden,nowrap,ellipsis);
  }
}

.menu__block__dishes__card__titles__title
{
  @extend .menu__block__details__card__titles__title;
  // margin:8px 0 4px 0;
  @include m.desktop
  {
    margin:0;
  }
}

.menu__block__dishes__card__titles__subtitle
{
  @extend .menu__block__details__card__titles__subtitle;
  margin-bottom:13px;
  @include m.desktop
  {
    margin-bottom:14px
  } 
}  

.menu__block__desserts__card__titles__subtitle
{ 
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.13em;
  width:80%;
  @include m.desktop
  {
    font-size:95%;
  } 
}

.menu__block__desserts__card__titles__subtitle--delice
{
  @extend .menu__block__desserts__card__titles__subtitle;
  font-size:100%;
} 

.menu__block__details__card__titles__subtitle--palette
{
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.03rem;
} 

.menu__block__details__card__titles__subtitle--note
{
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.03rem;
} 

.menu__block__details__card__price
{
  @include  m.menu__block__details__card__price-init(13px,11px);
}

.menu__block__details__card__price--palette
{
  @include  m.menu__block__details__card__price-init(14px,28px);
}
.menu__block__details__card__price--note
{
  @include  m.menu__block__details__card__price-init(12px,9px);
  margin-bottom:12px;
}

// animations //
.card .menu__block__details__card_iconcheck
{
  display: flex;
  justify-content: center;
  align-items:center;
  align-self:stretch;
  background-color: #99E2D0;
  width: 74px;
  margin-right: -3.9rem;
  // height: 100%;
  // min-height:79px;
  border-radius: 0 15px 15px 0;
  transform: scale(0);
  /* transition: transform 330ms ease_in_out; */
  cursor: pointer;
}


.card:hover .menu__block__details__card_iconcheck{
 transform:scale(1); 
 /* transform:translateX(-3.9rem);*/
 transition:all 0.5s;
 margin-right:0; 
 padding:0; 
}

.card:hover .menu__block__details__card__titles--note
{width:65%;}

.menu__block__details__card_iconcheck .fa-circle-check
{
  color:white;
  font-size:1.4rem;
  transition:transform 0.6s;
}

// A déplacer //
@keyframes menu {
  0% {
    opacity:0;
    transform:translateY(-100px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@keyframes rotate-check {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    letter-spacing: 0;
    font-size: 0;
  }
  80% {
    font-size: 2.5rem;
    letter-spacing:0.2vh;
    transform: rotate(720deg);
  }
  100% {
    transform: scale(0);
    transform: rotate(0);
    font-size: 0;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  inset: 0;
  height: 70vh;
  width:100%;
  color:white;
  opacity: 0.8;
  animation: loaderp 3s;
  animation-fill-mode: forwards;
  border: 10px solid blueviolet;
  border-radius:50%;
}

.menu__block__details__card:hover:hover .fa-circle-check
{
  -webkit-animation: rotate-check 0.6s ease-in-out both;
  animation: rotate-check 0.6s ease-in-out both;
}

article .card:nth-child(2)
{animation:menu 1s ease-out both 170ms ;}

article .card:nth-child(3)
{animation:menu 1s ease-out both 340ms ;}

article .card:nth-child(4)
{animation:menu 1s ease-out both 510ms ;}

article .card:nth-child(5)
{animation:menu 1s ease-out both 680ms ;}


.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
 z-index:1001;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 17rem;
  height: 17rem;
  border-radius: 8.5rem; 
//    width: 100vh;
//   height: 100vh;
// border-radius: 50vh; 
  background-color: rgb(238, 167, 238);
  margin:auto;
  animation: loaderp 4s;
  animation: scale-up-center 4s ease-out 0.2s 1 normal none;
  animation-fill-mode: forwards;
  z-index:1002;
  @include m.tablette
  {
    width: 25rem;
    height: 25rem;
    border-radius: 12.5rem; 
  }
  @include m.desktop
  {
    width: 35rem;
    height: 35rem;
    border-radius: 17.5rem;
  }
}
  

  .loader p {
    background: linear-gradient(#9356DC, #FF79DA);
    font-family: "shrikhand", sans-serif;
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: loader forwards 4s;
    z-index:1003;
  }


.loader__container::before
{
  display: flex;
  content: "";
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: black; 
  opacity: 0.5;
  animation:loader_background 0.1s ease 4s forwards;
  z-index:1000;
}

@keyframes scale-up-center {
    
  0% {
    transform:scale(.1);
  }
  50% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes loader_background {
    
  0% {
   height:100%;
  }
  100% {
    height:0%;
  }
}


  @keyframes loaderp {
    0% {
      transform: scale(0.1);
    }
    90% {
      transform: scale(0.3);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }


@keyframes loader {
  0% {
    letter-spacing: 0;
    font-size: 0;
  }
  80% {
    font-size: 40px;
    letter-spacing:0.5vw;
    transform: rotate(720deg);
  }
  100% {
    transform: scale(0);
    transform: rotate(0);
    font-size: 0;
  }
}



